#player {
  background-color: gray;
  width: 1656px;
  height: 753px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#waching__contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#recommand__contents {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  margin: 20px 0px 10px 0px;
}
