.status-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(20, 20, 20, 0.5);
}

.status-bar__title {
  font-size: 32px;
}

.status-bar__click {
  background-color: rgba(20, 20, 20, 0);
  padding-left: 20px;
  font-size: 13px;
}
