@import "status-bar.css";
@import "reset.css";
@import "index.css";

* {
  background-color: black;
  color: white;
}
body {
  height: 1000vh;
  background-color: #0b090c;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.contents {
  width: 250px;
  height: 143px;
  margin: 0px 10px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.contents:hover {
  transform: scale(1.5, 1.5);
}
